In [84]:
import os
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
pd.options.display.max_rows = None
pd.options.display.max_columns = None
plt.rcParams.update({'figure.max_open_warning': 0})

In [70]:
df1 = pd.read_json('json/part-00000-1ca7a3b9-6b8f-4667-96cd-71d4d05affdb-c000.json', lines=True)

In [71]:
df1.head(2)

,amplitudes,bin_size,channel,current_time,display_type,num_amplitudes,object_type,object_type_version,requestor_id,starting_position,time
0,"[0.25754267000000003, 0.23032819000000002, 0.2...",2.041905,2,2020-12-24 12:30:16+05:30,EVENT_DETECTION_VALUE:Stream1,13652,FibreShot,4,4294967295,85.079369,2020-12-24T06:57:49.345Z
1,"[0.41620475, 0.45366934000000003, 0.37738892, ...",2.041905,2,2020-12-24 12:31:11+05:30,EVENT_DETECTION_VALUE:Stream1,13652,FibreShot,4,4294967295,85.079369,2020-12-24T06:58:44.839Z

In [72]:
# [i for i in df1.amplitudes[0] if i>5]

In [87]:
json_files = os.listdir('json')

In [85]:
# df1 = pd.read_json(f'json/'+json_files[0], lines=True)
# amplitudes = df1.amplitudes.apply(lambda x: max(x)).values
# plt.figure(figsize=(15,7))
# plt.title(i.split('.json')[0])
# plt.xticks(rotation=90)
# plt.tight_layout()
# sns.lineplot(x=df1.time, y=amplitudes)
# df1.to_csv(f'csv/{i.split(".json")[0]}.csv')

In [100]:
df1.amplitudes.apply(lambda x: np.max(x))#.max()

0       6.599690
1      48.331116
2     104.288050
3      66.836937
4      33.257969
5       7.340085
6      11.934063
7      68.312798
8      54.467022
9      45.887878
10      8.326394
11      2.809421
12     18.525446
13     10.692068
14     41.803139
15     23.579582
16     22.696651
17     32.995609
18     16.093727
19    144.933980
20     72.628410
21     11.819125
22    130.028200
23     44.480698
24     18.549801
25     11.324010
26      3.622980
27     22.487299
28      4.907683
29      4.411436
30     35.727592
31    101.129430
32     31.320936
33      4.920170
34     23.130501
35      4.110804
36      3.984875
37      7.331784
38     27.584648
39      5.665750
40     66.499130
41      9.041204
42    256.586400
43     15.108326
44    195.405470
45    179.362810
46     16.697678
47      3.955753
48      4.984073
49     81.687859
50     37.555492
51      3.672630
52      5.779027
53     43.453812
54     44.095131
55    176.509060
56     13.236382
57    120.690610
58      8.079315
59      3.190848
60      5.222265
61     42.807999
62      4.699238
63     30.571678
64     11.868090
65      5.703510
66     16.478943
67      3.139304
68      5.314805
69      4.860786
70     52.047230
71     57.574421
72     74.897659
73     38.909355
74      8.486570
75     73.811882
76      7.201633
77      5.308639
78     11.400963
79     22.711481
80      8.388178
81     10.951475
82    146.527370
83      4.137337
84      8.301776
Name: amplitudes, dtype: float64

In [106]:
for i in json_files:
    if 'chart' not in i:
        df = pd.read_json('json/'+i, lines=True)
        print('MIN=', round(df.amplitudes.apply(lambda x: np.max(x)).min(), 3), \
              '\t MAX=', round(df.amplitudes.apply(lambda x: np.max(x)).max(), 3))

MIN= 3.855 	 MAX= 334.857
MIN= 1.601 	 MAX= 233.52
MIN= 1.899 	 MAX= 315.252
MIN= 4.953 	 MAX= 339.595
MIN= 2.679 	 MAX= 288.565
MIN= 1.679 	 MAX= 513.659
MIN= 1.636 	 MAX= 236.881
MIN= 1.678 	 MAX= 340.487
MIN= 2.803 	 MAX= 410.581
MIN= 3.467 	 MAX= 308.969
MIN= 1.588 	 MAX= 361.983
MIN= 3.448 	 MAX= 338.708
MIN= 3.786 	 MAX= 251.871
MIN= 2.426 	 MAX= 375.266
MIN= 2.638 	 MAX= 97.287
MIN= 3.508 	 MAX= 219.713
MIN= 2.412 	 MAX= 344.888
MIN= 2.118 	 MAX= 262.581
MIN= 2.504 	 MAX= 260.464
MIN= 2.809 	 MAX= 256.586
MIN= 3.464 	 MAX= 336.603
MIN= 1.861 	 MAX= 267.816
MIN= 1.716 	 MAX= 211.6
MIN= 5.141 	 MAX= 367.469
MIN= 3.88 	 MAX= 220.857
MIN= 2.473 	 MAX= 247.427
MIN= 2.154 	 MAX= 241.185
MIN= 2.118 	 MAX= 348.539
MIN= 3.012 	 MAX= 295.487
MIN= 2.806 	 MAX= 183.108
MIN= 2.419 	 MAX= 238.14
MIN= 2.092 	 MAX= 478.753
MIN= 4.055 	 MAX= 266.47
MIN= 1.826 	 MAX= 276.703
MIN= 2.264 	 MAX= 242.803
MIN= 2.198 	 MAX= 262.304
MIN= 1.709 	 MAX= 398.181
MIN= 2.484 	 MAX= 241.521

In [110]:
len(df1.amplitudes[0]), df.bin_size.max()

(13652, 2.041904687881469)

In [115]:
len(df1.amplitudes[0]) * df.bin_size.max()

27876.082798957814